/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
    background: #f7941e;
}
.background-secondary {
    background: #c49a6c;
}
.background-tertiary {
    background: #8dc63f;
}
.background-quaternary {
    background: #594a42;
}
.background-quinary {
    background: #e7e1d7;
}
